/* Table of Contents
================================
- Root CSS Variables
- HTML
- Global Helper Classes
- Responisve Grid
- Buttons
- Form
-
*/

/* Root CSS Variables
================================ */
/* To theme your project, change these vars */
:root {
  /* Pallete */
  --primary-color: #455a64;
  --primary-color-light: #546e7a;
  --primary-color-dark: #263238;
  --secondary-color: #4f4564;
  --secondary-color-light: #687192;
  --secondary-color-dark: #2c2440;
  /* Font Color */
  --heading-font-color: var(--primary-color-dark);
  --dark-font-color: #212121;
  --light-font-color: #fff;
  /* Background color */
  --bg-body-color: #fafafa;
  --bg-nav-color: var(--primary-color);
  --outline-color: #0091ea;

  /* Font */
  --font-family: Helvetica, Arial, sans-serif;
  --body-font-size: 1.125rem;

  /* Media Query */
  --media-query-sm: 600px;
  --media-query-md: 900px;
  --media-query-lg: 1024px;

  /* Standard Variables */
  --control-border-radius: 0.5rem;
  --input-border-radius: 0.25rem;
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

/* HTML
================================ */
* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: var(--font-family);
  font-size: var(--body-font-size);
  background-color: var(--bg-body-color);
  color: var(--dark-font-color);
  /* overflow-wrap: break-word; */
}
a {
  color: var(--primary-color);
  font-size: inherit;
  text-decoration: none;
  padding: 0.25rem 0.125rem 0;
  border-bottom: 0.125rem solid transparent;
}
a:hover {
  color: var(--primary-color-light);
  border-bottom: 0.125rem solid var(--primary-color-light);
}
a:focus,
a:focus-within {
  outline: 0.25rem solid var(--outline-color);
  color: var(--primary-color-light);
  border-bottom: 0.125rem solid transparent;
  border-radius: var(--control-border-radius);
}
a:active {
  color: var(--primary-color-dark);
  border-bottom: 0.125rem solid var(--primary-color-dark);
  border-radius: 0;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
}

/* Global Helper Classes
================================ */

/* Typography
================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--heading-font-color);
  word-wrap: normal;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.75rem;
}
h3 {
  font-size: 2.125rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

@media (min-width: 600px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3.75rem;
  }
  h3 {
    font-size: 3.125rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
  line-height: 1.5625rem;
}

/* Responsive Grid
================================ */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}
[class^="column"] {
  flex: 1 0 0%;
}
[class^="column"] > * {
  width: 100%;
}
/* MQ Sizes - column: <600, column-md: >600, column-lg: >1024 */
/* Adjusted width by 1% in each column to have a 2% gap in rows */
@media (max-width: 600px) {
  .column-1 {
    flex: 0 0 auto;
    width: 15.6666666667%;
  }
  .column-2 {
    flex: 0 0 auto;
    width: 32.3333333333%;
  }
  .column-3 {
    flex: 0 0 auto;
    width: 49%;
  }
  .column-4 {
    flex: 0 0 auto;
    width: 65.6666666667%;
  }
  .column-5 {
    flex: 0 0 auto;
    width: 82.3333333333%;
  }
  .column-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 600px) {
  .column-md-1 {
    flex: 0 0 auto;
    width: 15.6666666667%;
  }
  .column-md-2 {
    flex: 0 0 auto;
    width: 32.3333333333%;
  }
  .column-md-3 {
    flex: 0 0 auto;
    width: 49%;
  }
  .column-md-4 {
    flex: 0 0 auto;
    width: 65.6666666667%;
  }
  .column-md-5 {
    flex: 0 0 auto;
    width: 82.3333333333%;
  }
  .column-md-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .column-lg-1 {
    flex: 0 0 auto;
    width: 15.6666666667%;
  }
  .column-lg-2 {
    flex: 0 0 auto;
    width: 32.3333333333%;
  }
  .column-lg-3 {
    flex: 0 0 auto;
    width: 49%;
  }
  .column-lg-4 {
    flex: 0 0 auto;
    width: 65.6666666667%;
  }
  .column-lg-5 {
    flex: 0 0 auto;
    width: 82.3333333333%;
  }
  .column-lg-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}

/* Buttons
================================ */
/* Base button serves as primary */
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
  color: var(--light-font-color);
  background-color: var(--primary-color);
  font-size: var(--body-font-size);
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  border: 0.125rem solid var(--primary-color);
  padding: 0.75rem 1.25rem;
  border-radius: var(--control-border-radius);
  box-shadow: var(--box-shadow);
  transition: ease-in-out 200ms;
}

/* Secondary Button */
button.secondary,
input[type="submit"].secondary,
input[type="reset"].secondary,
input[type="button"].secondary {
  background-color: var(--secondary-color);
  border: 0.125rem solid var(--secondary-color);
}
button.secondary:hover,
input[type="submit"].secondary:hover,
input[type="reset"].secondary:hover,
input[type="button"].secondary:hover button.secondary:focus,
input[type="submit"].secondary:hover,
input[type="reset"].secondary:hover,
input[type="button"].secondary:hover {
  background-color: var(--secondary-color-light);
}
button.secondary:active,
input[type="submit"].secondary:hover,
input[type="reset"].secondary:hover,
input[type="button"].secondary:hover {
  background-color: var(--secondary-color-dark);
  border: 0.125rem solid var(--secondary-color-dark);
}

/* Outlined Button */
button.outlined,
input[type="submit"].outlined,
input[type="reset"].outlined,
input[type="button"].outlined {
  color: var(--primary-color);
  background-color: transparent;
  border: 0.125rem solid var(--primary-color);
}
button.outlined:hover,
input[type="submit"].outlined:hover,
input[type="reset"].outlined:hover,
input[type="button"].outlined:hover,
button.outlined:active,
input[type="submit"].outlined:active,
input[type="reset"].outlined:active,
input[type="button"].outlined:active {
  color: var(--light-font-color);
}

/* Hover */
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: var(--primary-color-light);
  border: 0.125rem solid var(--primary-color-light);
}
/* Focus */
button:focus-visible,
input[type="submit"]:focus-visible,
input[type="reset"]:focus-visible,
input[type="button"]:focus-visible {
  color: var(--light-font-color);
  background-color: var(--primary-color-light);
  border: 0.125rem solid transparent;
  outline: 0.25rem solid var(--outline-color);
}
/* Active */
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  background-color: var(--primary-color-dark);
  border: 0.125rem solid var(--primary-color-dark);
  outline: none;
}

/* Form
================================ */
label,
legend {
  display: block;
  margin: 0.5rem 0 0.5rem 0.25rem;
  font-weight: 700;
}
label.checkbox-label,
label.radio-label {
  margin-bottom: 1rem;
  font-weight: normal;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  padding: 0.75rem 0.375rem;
  font-size: var(--body-font-size);
  margin-bottom: 1rem;
  border-radius: var(--input-border-radius);
  border: 0.125rem solid var(--primary-color);
}
textarea {
  min-height: 5rem;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 2px solid var(--outline-color);
  outline: 0;
}
select {
  padding: 0.6875rem 0.375rem;
}
input::placeholder {
  font-style: italic;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.25rem;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline-color: var(--outline-color);
}
